![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma lista de exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import datetime

In [3]:
crime = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas_atividades/US_Crime_Rates_1960_2014.csv')

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [ ]:
#utilizar .dtypes

In [ ]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [ ]:
crime.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

In [ ]:
# Seu código

In [4]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

In [5]:
crime.head()

        Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0 1960-01-01   179323175  3384200  ...    912100        1855400         328200
1 1961-01-01   182992000  3488000  ...    949600        1913000         336000
2 1962-01-01   185771000  3752200  ...    994300        2089600         366800
3 1963-01-01   188483000  4109500  ...   1086400        2297800         408300
4 1964-01-01   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

In [6]:
crime['Year'] = pd.to_datetime(crime['Year'])

In [13]:
crime.head()

        Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0 1960-01-01   179323175  3384200  ...    912100        1855400         328200
1 1961-01-01   182992000  3488000  ...    949600        1913000         336000
2 1962-01-01   185771000  3752200  ...    994300        2089600         366800
3 1963-01-01   188483000  4109500  ...   1086400        2297800         408300
4 1964-01-01   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [ ]:
# df.set_index('nome da coluna')

In [14]:
crime_index = crime.set_index('Year')

### Tarefa 5. Remova a coluna Total do DataFrame.

In [ ]:
# df.drop(columns = ['nome da coluna'])

In [21]:
crime_2 = crime.drop(columns=['Total'])

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [ ]:
# Seu código (1288674)

In [26]:
crime_2.query('Year == 1978').head()

         Year  Population  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
18 1978-01-01   218059000  1085550  ...   3128300        5991000        1004100

[1 rows x 11 columns]

In [30]:
valor = crime_2.loc[18, 'Vehicle_Theft']

In [32]:
print(f'O ano de 1978 teve {valor} carros roubados')

O ano de 1978 teve 1004100 carros roubados

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [ ]:
# Seu código

In [ ]:
#maior numero de assassinatos:
crime['Murder'].max()

In [ ]:
#retornar a linha correspondente a murder == 24700

In [ ]:
crime.loc[crime['Murder']==24700]

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [ ]:
# Seu código

In [ ]:
#menor numero de roubo de carro:
crime['Vehicle_Theft'].min()

In [ ]:
#achar ano correspondente a menor roubos de carro:
crime.loc[crime['Vehicle_Theft']==328200]

In [ ]:
#achar numero de assassinatos do ano

In [ ]:
crime.iloc[[0], 11]

**Parabéns! Você chegou ao fim**